* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
}

p,
h1,
h2,
h3 {
    font-family: "Montserrat", "Trebuchet MS", Tahoma, sans-serif;
}

.context {
    position: absolute;
    top: 20%;
    left: 45%;
    background-color: rgba(24, 24, 24, 0.589);
    backdrop-filter: blur(5px);
    color: white;
    padding: 1rem;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    text-transform: capitalize;
    font-size: 1rem;
    border: 1px solid rgb(80, 80, 80);
    div {
        padding-top: .2rem;
        padding-bottom: .2rem;
        display: flex;
        justify-content: start;
        gap: 1rem;
        img{
            width: 1.6rem;

        }
    }

}

.windows_screen {
    width: 100%;
    height: 100vh;
    background-image: url(./image/windows-11.jpg);
    background-position: center;
    background-size: cover;

    .bottom_bar {
        width: 100%;
        height: 3rem;
        border-top: 1px solid rgb(175, 175, 175);
        background-color: rgba(58, 58, 58, 0.541);
        backdrop-filter: blur(10px);
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        padding: .8rem 1rem;
        align-items: center;
        color: white;

        .center_bar {
            display: flex;
            justify-content: center;
            gap: 1rem;
            padding: .5rem auto;

            img {
                width: 2.4rem;
            }
        }

        .right_date {
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;

            i {
                font-size: 1.3rem;
            }

            div {
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: .2rem;
                font-weight: 500;
            }
        }

    }
}